---

- name: Install Dwarf-Fortress LazyNewbiePack the lazy way
  hosts: localhost
  connection: local
  become: no
  
  vars_files:
    - ./overrides.yml

  vars:
    install_packages: yes
    base_path: ~d/.local/share/dwarf-fortress-lnp
    paths:
      bins: "{{ base_path }}/bin"
      distrib: "{{ base_path }}/distrib"
      install: "{{ base_path }}/share"

    df_version: "47_04"
    df_archive: "df_{{ df_version }}_linux.tar.bz2"
    df_download_url: "https://www.bay12games.com/dwarves/{{ df_archive }}"
    df_distrib_path: "{{ paths.distrib }}/{{ df_archive }}"
    df_path: "{{ paths.install }}/df_linux"

    dfhack_version: 0.47.04-r1
    dfhack_archive: "dfhack-{{ dfhack_version }}-Linux-64bit-gcc-7.tar.bz2"
    dfhack_download_url: "https://github.com/DFHack/dfhack/releases/download/{{ dfhack_version }}/{{ dfhack_archive }}"
    dfhack_distrib_path: "{{ paths.distrib }}/{{ dfhack_archive }}"
    dfhack_path: "{{ df_path }}/hack"

    ss_archive: soundSense_2016-1_196.zip
    ss_download_url: "https://dffd.bay12games.com/download.php?id=11849&f=soundSense_2016-1_196.zip"
    ss_distrib_path: "{{ paths.distrib }}/{{ ss_archive }}"
    ss_path: "{{ paths.install }}/soundsense"

    lnp_version: 0.14a
    lnp_repo: "https://github.com/Pidgeot/python-lnp.git"
    lnp_path: "{{ paths.install }}/python-lnp"

    therapist_version: v41.1.7
    therapist_appimage: "DwarfTherapist-{{ therapist_version }}-linux-x86_64.AppImage"
    therapist_url: "https://github.com/Dwarf-Therapist/Dwarf-Therapist/releases/download/{{ therapist_version }}/{{ therapist_appimage }}"
    therapist_distrib_path: "{{ paths.distrib }}/{{ therapist_appimage }}"
    
    legendsbr_version: 1.19.0
    legendsbr_jar: "legendsbrowser-{{ legendsbr_version }}.jar"
    legendsbr_url: "https://github.com/robertjanetzko/LegendsBrowser/releases/download/1.19/{{ legendsbr_jar }}"
    legendsbr_distrib_path: "{{ paths.distrib }}/{{ legendsbr_jar }}"
    legendsbr_path: "{{ paths.install }}/legendsbrowser"

    packages:
      - libglu1-mesa
      - libgtk2.0-0
      - libglib2.0-0
      - libsdl1.2debian
      - libsdl-image1.2
      - libsdl-ttf2.0-0
      - libopenal1
      - libsndfile1
      - libncursesw5
      - libcanberra-gtk-dev
      - python3-tk
      - python3-pil.imagetk
      - python3-xdg
      - zlib1g
      - openjdk-8-jdk
      - tmux
      - byobu

  tasks:

    - name: Install dependencies
      become: yes
      apt:
        name: "{{ packages }}"
        state: present
        update_cache: yes
      when: install_packages


    - name: Create folders
      file:
        path: "{{ item }}"
        state: directory
        mode: "0755"
      loop: 
        - "{{ base_path }}"
        - "{{ paths.bins }}"
        - "{{ paths.distrib }}"
        - "{{ paths.install }}"
        - "{{ legendsbr_path }}"


    # Unarchive is weird with .tar.bz2 so let's doit manually
    - name: Download distrib archives and AppImages too
      get_url:
        url: "{{ item.url }}"
        dest: "{{ item.dest }}"
      loop:
        - {url: "{{ df_download_url }}", dest: "{{ df_distrib_path }}"}
        - {url: "{{ dfhack_download_url }}", dest: "{{ dfhack_distrib_path }}"}
        - {url: "{{ ss_download_url }}", dest: "{{ ss_distrib_path }}"}
        - {url: "{{ therapist_url }}", dest: "{{ therapist_distrib_path }}"}
        - {url: "{{ legendsbr_url }}", dest: "{{ legendsbr_distrib_path }}"}
        

    - name: decompress me tarballz
      command:
        cmd: "tar xvjf {{ item.src }} -C {{ item.dest }}"
        creates: "{{ item.creates }}"
        warn: no
      loop:
        - src: "{{ df_distrib_path }}"
          dest: "{{ paths.install }}"
          creates: "{{ df_path }}"
        - src: "{{ dfhack_distrib_path }}"
          dest: "{{ df_path }}"
          creates: "{{ dfhack_path }}"


    - name: unarchive works with zip files
      unarchive:
        src: "{{ ss_distrib_path }}"
        dest: "{{ paths.install }}"
        creates: "{{ ss_path }}"
        remote_src: yes


    - name: chmod +x on DwarfTherapist appimage
      file:
        path: "{{ therapist_distrib_path }}"
        mode: "0755"


    - name: Extract DwarfTherapist appimage to deal with syscap
      command:
        cmd: "{{ therapist_distrib_path }} --appimage-extract"
        chdir: "{{ paths.install }}"
        creates: "{{ paths.install }}/squashfs-root"


    - name: Move DwarfTherapist to share dir
      command:
        cmd: "mv {{ paths.install }}/squashfs-root {{ paths.install }}/dwarftherapist"
        creates: "{{ paths.install }}/dwarftherapist"


    - name: Set capabilities on executable
      become: yes
      # this does not work with '~/' in the base path the first time
      # but it works when caps have been already set once
      #become_flags: "-E -S -n"
      capabilities:
        path: "{{ paths.install }}/dwarftherapist/usr/bin/dwarftherapist"
        capability: cap_sys_ptrace+eip
        state: present


    - name: Copy LegendsBrowser jar
      copy:
        src: "{{ legendsbr_distrib_path }}"
        dest: "{{ legendsbr_path }}/legendsbrowser.jar"
        remote_src: yes


    - name: Clone repos
      git:
        repo: "{{ item.repo }}"
        dest: "{{ item.dest }}"
        version: "{{ item.version }}"
        update: no
      loop:
        - repo: "{{ lnp_repo }}"
          dest: "{{ lnp_path }}"
          version: "{{ lnp_version }}"


    - name: rsync LNP, too many files for copy
      synchronize:
        src: LNP/
        dest: "{{ paths.install }}/LNP"
        archive: no
        perms: yes
        recursive: yes


    - name: Copy stuff
      copy:
        src: "{{ item.src }}"
        dest: "{{ item.dest }}"
        mode: "{{ item.mode | default('0644') }}"
      loop:
        - {src: start-lnp.sh, dest: "{{ base_path }}/bin/", mode: "0755"}
        - {src: PyLNP.user, dest: "{{ lnp_path }}/"}
        - {src: dfhack.init, dest: "{{ df_path }}/"}
        - {src: twbt.plug.so, dest: "{{ dfhack_path }}/plugins/"}
        - {src: ss_configuration.xml, dest: "{{ ss_path }}/configuration.xml" }

